<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" title="styles" />
    <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <title>Doge game!</title>
</head>
<body ng-app="doge" ng-controller="dogeCtrl" ng-keypress="keyPress($event)">
    <div id="container">
        <h1>Doge game</h1>
        <p ng-model="dogeText">{{dogeText}}</p>
        <canvas id="dogeCanvas">
        </canvas>
        <pre>{{word}}</pre>
        <p ng-model="fouls">{{fouls.join('')}}</p>
        <div ng-include="partial"></div>        
    </div>
    <script type="text/javascript" src="scripts.js"></script>
</body>