/* Styles for Doge game! Wow! */

html {
    overflow-y:scroll;
}

body {
    font-family: comic sans ms, sans-serif;
    text-align: center;
}

p, pre {
    font-family: comic sans ms, sans-serif;
    font-size: 12pt;
}

#container {
    width: 640px;
    margin: 20px auto;
}

#dogeCanvas {
    border: 1px solid #000000;
}

.bottom_margin {
    margin-bottom: 10px;
}

.scores {
    list-style: none;
    margin-left: 55px;
    text-align: left;
}

.score_rank {
    float: left;
    width: 30px;
}

.score_time {
    float: left;
    width: 150px;
}

.score_player {
    float: left;
    width: 220px;
}